/* 코드 1: 변수 선언 */
$small-font-size: 0.8rem;
$medium-font-size: 1.4rem;
$large-font-size: 1.8rem;

/* 코드 2: mixin 선언 */
@mixin font-size($size) {
  font-size: $size;
}

@mixin font-color($color) {
  color: $color;
}

/* 코드 3: map 선언 */
$_sizes: (
  'sm': $small-font-size,
  'md': $medium-font-size,
  'lg': $large-font-size
);

$_colors: (
  'primary': var(--color-primary),
  'basic': var(--color-basic),
  'white': var(--color-white),
  'dark': var(--color-dark),
  'danger': var(--color-danger)
);

/* 코드 4: 반복문 사용 */
@each $key, $size in $_sizes {
  .t-#{$key} {
    @include font-size($size);
  }
}

@each $key, $color in $_colors {
  .t-#{$key} {
    @include font-color($color);
  }
}

/* 코드 5: 일반 CSS */
.t-center {
  text-align: center;
}
