/* 코드 1: 헬퍼 사용 및 네임스페이스 제거 */
@use 'helper' as *;

$sizes: (
  'sm' $small-font-size $small-component-height,
  'md' $medium-font-size $medium-component-height,
  'lg' $large-font-size $large-component-height,
);

@each $key, $font-size, $height in $sizes {
  .#{$key} {
    @include font-size($font-size);
    @include component-height($height);  
  }
}

/* 코드 2: @extend 규칙을 이용한 선택자 확장 */
.flex {
  display: flex;

  &-center { 
    @extend .flex;
    align-items: center;
    justify-content: center;
  }  
}
