$c1-red: #FF0000;
$c1-old-red: $c1-red; // 할당

$c1-red: #FF1111; // 재선언

.c1-variables {
  color: $c1-old-red;
  background-color: $c1-red;
}

.c1-local {
  // $c1-local: value; // Error 발생!
  $c1-local: value !global; // 전역 변수
}

.c1-global {
  content: $c1-local;
}

$c1-hundred: '100';
.c1-w-#{$c1-hundred} {
  width: #{$c1-hundred} + '%';
}